/* website structruce */

html {
	height: auto;
	background-color: black;
}
head {
	font-family: 'Roboto', sans-serif;
}
body {
	font-family: 'Roboto', sans-serif;
}

.flex {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

/* navbar */

.link-container:hover {
	background: white;
}

.logo {
	width: 80px;
}
.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: black !important;
}

.logo-container:hover {
	background-color: white;
	border-radius: 30px;
	transition: 0.7s;
}

.logo-pic:hover {
	filter: invert(100%);
	transition: 0.7s;
}

.navbar {
	background-color: black;
	width: 100%;
	/* position: fixed; */
	/* z-index: 10; */
	margin: 0 0 0 0;
	padding: 0 0 0 0 !important;
	/* border-bottom: 5px solid #D5D5D5; */
}

ul {
	height: 60px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.navbar li {
	height: 100%;
	display: inline-block;
}

.navbar li a {
	color: white;
	font-size: 1.1em;
	padding-bottom: 18px;
}

.navbar li:hover {
	background-color: white;
	transition: 0.7s;
}

.navbar li a:hover {
	color: black;
	transition: 0.7s;
}

/* User Search */

.user-search {
	display: flex;
	justify-content: center;
}

.input-group {
	background: black;
	/* border: black solid 10px; */
	width: 25%;
	border-radius: 1px 1px 10px 10px;
	margin: 0px 377px 0 0 !important;
}

/* .input-group:hover {
    border: black solid 10px;
    width: 20%;
    border-radius: 1px 1px 10px 10px;
    transition: 0.4s;
} */

.input-group > .input-group-prepend > .input-group-text {
	background-color: black;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	color: white;
}
.input-group-prepend {
	background: black;
	margin-right: -1px;
}

/* User feed */

.user-results {
	margin: 13% -10% 0 0;
}

.user-results img {
	height: 140px;
	width: 140px;
	border-radius: 126px;
}

/* .userfeed { */
/* background: rgb(0,0,0); */
/* background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0) 100%); */
/* } */

/* Carousel */

.caro {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80vh;
}

.background {
	position: relative;
	background-color: transparent;
	background: white url(./background.jpg);
	height: 100vh;
	background-size: 350px;
	background-position: 0 0;
	background-repeat: repeat-y repeat-x;
	animation: animate 10000s linear infinite;
}

@keyframes animate {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 50000% 50000%;
	}
}

.carousel-img {
	/* border-radius: 20px; */
	width: 100%;
	height: 500px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: brightness(80%);
}

.bd-example {
	width: 100%;
	height: 500px;
	background-color: transparent;
	/* border-radius: 30px; */
	margin: auto;
}

.transparent {
	background-color: rgba(0, 0, 0, 0.0);
}

/* Media */

.media {
	border-top: 5px solid white;
	justify-content: space-between;
	background-color: black;
	height: 13%;
}

.facebook {
	width: 26px;
	height: 25px;
}

.instagram {
	height: 29px;
	width: 32px;
}

.twitter {
	height: 30px;
	width: 34px;
}
.media p {
	color: white;
}

.media div h4 {
	color: white;
}

.services {
	width: 40%;
	padding: 2%;
}

.logos {
	width: 15%;
	padding: 2%;
}

/* sliding */

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	border: 5px solid white;
	margin: 0 0 0 0;
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.layer {
	position: absolute;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.layer .content-wrap {
	position: absolute;
	width: 100vw;
	min-height: 100vh;
}

.layer .content-body {
	width: 25%;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	color: white;
}

.layer img {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -3;
}

.layer h1 {
	font-size: 2em;
}

.bottom {
	background: rgb(0, 0, 0, 0.9);
	z-index: 1;
}

.bottom .content-body {
	right: 5%;
}

.bottom h1 {
	color: white;
}

.top {
	background: #eee;
	color: #222;
	z-index: 2;
	width: 50vw;
}

.top .content-body {
	left: 5%;
	color: #222;
}

.handle {
	position: absolute;
	height: 100%;
	display: block;
	background-color: white;
	width: 5px;
	top: 0;
	left: 50%;
	z-index: 3;
}

.skewed .handle {
	top: 50%;
	transform: rotate(30deg) translateY(-50%);
	height: 200%;
	transform-origin: top;
}

.skewed .top {
	transform: skew(-30deg);
	margin-left: -1000px;
	width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
	transform: skew(30deg);
	margin-left: 1000px;
}

@media (max-width: 768px) {
	body {
		font-size: 75%;
	}
}

.space {
	background-color: transparent;
	height: 9%;
}

.previous {
	margin: 22px 0 0 0;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	border: transparent solid 8px;
	border-top-left-radius: 37px;
	border-top-right-radius: 0px;
}

.next {
	margin: 0 0 0 -4.56px;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	border: transparent solid 8px;
	border-top-left-radius: 0x;
	border-top-right-radius: 45px;
}

.id {
	background-color: rgb(0, 0, 0, 0.9);
	color: white;
	border: transparent solid 8px;
}

.center {
	justify-content: center;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

#fetch {
	margin: 0 0 0 138%;
	width: 350px;
	display: absolute;
	z-index: 1000;
	font-size: 2em;
	color: white;
	position: 0 0;
	border-radius: 115px;
}

#fetch-ghost {
	width: 350px;
	margin: -1% 0 0 136%;
	display: absolute;
	filter: invert(100%);
}

.mouseover {
	animation: fetch 1s;
	animation-fill-mode: forwards;
}
@keyframes fetch {
	0% {
		width: 350px;
	}
	100% {
		width: 450px;
	}
}

.mouseleave {
	animation: fetch-out 1s;
	animation-fill-mode: forwards;
}
@keyframes fetch-out {
	0% {
		width: 450px;
	}
	100% {
		width: 350px;
	}
}

button:focus {
	outline: 0;
}

.control-bar {
	position: absolute;
}

.bar-logo {
	display: inline-block absolute;
	margin: 0 -5px 0 0;
	width: 70.23px;
	height: 64px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	border-radius: 1px;
}

.bar-logo:hover {
	transition: 1s;
	z-index: 1000;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

.animation-down {
	animation: down 1s ease-out;
	animation-fill-mode: forwards;
}

@keyframes down {
	0% {
		margin: -72px 0 0 0;
	}
	100% {
		margin: -8px 0 0 0;
	}
}

.links {
	margin: 0 5px 0 0;
}

.bar-pictures-container {
	overflow: auto;
	white-space: nowrap;
	margin: 0 0 67px 0;
}

.slide {
	border-top: solid white 3px;
}

.front-img {
	filter: brightness(40%);
	animation: frontani 0.7s linear;
	animation-fill-mode: forwards;
}

@keyframes frontani {
	0% {
		filter: brightness(0%);
	}

	100% {
		filter: brightness(100%);
	}
}
